<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duyi.hrb.dao.UserDao">
    <select id="findByName" parameterType="com.duyi.hrb.domain.User" resultType="com.duyi.hrb.domain.User">
        select * from user where username = #{username}
    </select>
</mapper>